
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('normalize.css');
* 
{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html
{
  margin: 0px;
  padding: 0px;
}
body 
{
  font-size: 100%;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

#container
{
  width: 100%;
  height: auto;
  padding: 40px;
  
}

h1
{
  font-size: 1.4em;
}

h2
{
  font-size: 1.4em;
}
p
{
  font-size: 1.2em;
}

a
{
  text-decoration: none;
  color: black;
}
/*-------------------------Header-------------------------------*/

.index-header, .navigation__header,.search-section,.search-form1
{
  display: flex;
}
.index-header
{
  flex-direction: column;
  width: 100%; 
}

.navigation__header
{
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;    
}

.navigation__header img
{ 
  width: 124px ;
  height: 60px;  
}


.navigation__header li
{
  list-style: none;
  display: inline;
  
}

.navigation__header li a
{
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  padding-top: 58px;
  padding-bottom: 58px;
}


.navigation__header li a:hover
{
  border-top: 3px solid #0065FC;
  color: #0065FC;
  
}
/*-------------------Section recherche--------------------------*/


.search-section
{ 
  flex-direction: column;
  width: 100%; 
}

.titre p
{
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

/*-------------------barre de recherche--------------------------*/

.search-form1
{ 
  align-items: center;
  align-content: center;
  width: 100%;
  margin-top: 20px; 
}

.search-form1 i
{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  border-right: 0px;
  border: 1px solid #F2F2F2;
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  width: 50px;
  height: 50px;
  margin: 0px;

}

.fa-location-dot
{
  font-size: 1.2em;  
}

.search-form1  input
{
  min-width: 200px;
  width: 283px;
  height: 50px;
  max-width: 283px;
  max-height: 50px;
  font-weight: bold;
  border: 1px solid #F2F2F2;
}

::placeholder
{
  display: flex;
  position: absolute;
  color: black;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 130%;
  
}

.search-form1 a, .search-form1 a i, .search-form1 .search-icon
{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #0065FC;
  border: 1px solid #0065FC;
  border-left: 0px;
  border-radius: 0px 15px 15px 0px;
  max-width: 132px;
  max-height: 50px;
  width: 9.30%;
  height: 50px;
}



.search, .search-icon
{
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.search-form1 .search-icon
{
  display: none;


}

/*------------- Filtres flexbox------------*/

.filtres__container,.filtres__container a, .filtres__container i 
{
  display: flex;
}

.filtres__container
{
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 70%;
  margin-top: 20px; 
}

.filtres__container h2
{
  font-size: 100%;
  margin-right: 5px;
  width: 50px;
  
}

/*-------------filtre stylisation------------*/

.filtres__container a
{
  flex-direction: row;
  align-items: center;
  align-content: center;
  background-color: white;
  border-radius: 40px;
  border: 2px solid #F2F2F2;
  border-left: rgb(222, 235, 255);
  height: 50px;
  margin-top: 10px;
  cursor: pointer;
}

.filtres__container h2
{
  font-size: 1.1em;
}

.filtres__container i
{
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(222, 235, 255);
  color: #0065FC;
  border-radius: 30px;
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  margin: 0px;
  transition-duration: 1s;
  transition-property: transform;
}

.filtres__container p
{
  margin-left: 5px;
  margin-right: auto;
  font-weight: bold;
  font-size: 110%;
  padding: 10px;
}

.filtres__container a:hover
{
  background-color: #0065FC;
  color: white;
}
.filtres__container a:hover
{
  color: white;
}

.filtres__container i:hover 
{
  transform: rotate(360deg);
}

/*-----------------Info de resultats de recherche---------------------*/

.resultats-recherche-info, .resultats-recherche-info i
{
  display: flex;
  align-items: center;
}

.resultats-recherche-info
{ 
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
}



.resultats-recherche-info i
{
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #F2F2F2;
  color: #0065FC;
  min-width: 25px;
  min-height: 25px;
  width: 20px;
  height: 20px;
  font-size: 0.9em;
  margin-bottom: 3px;
}


.resultats-recherche-info p
{
  margin-left: 10px;
  font-size: 1.0em;
}
/*-------------------------------Main------------------------------*/

main, .hebergement-marseille,.container-card,.underbox,.container-card a,.stars
{
  display: flex;
}

main
{
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 40px;
  
}

.box__title
{
  font-size: 1.4em;
}

/*--------------section 2 Hebergement a Marseille---------------------*/

.hebergement-marseille
{
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  width: 65.5%;
  height: 625px;
  border-radius: 20px;
  padding: 20px;
  margin: 0px;
}

.hebergement-marseille h1
{
  height:5% ;
  width: 100%;
}

.container-card
{
  height: 35%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-card,.underbox
{
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

/*---------------------Resultats de recherche-----------------*/

.underbox
{
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 230px;
  
}

.container-card a
{
  flex-direction: column;
  background-color: white;
  box-shadow: 3px 3px 10px #e1e1e1,-3px -3px 10px #e1e1e1;
  border: none;
  border-radius: 20px;
  width: 33.33%;
  height: 199px;
  margin: 17px;
  padding: 5px;
    
}

.container-card img
{
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 57%;
  padding-bottom: 0px;
  
}

.hebergement__card-text
{
  text-align: left;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  border: none;
  width: 100%;
  height: 41%;
  padding: 5px;
  
}

.hebergement__card-text h2, .hebergement__card-text p, .hebergement__card-text i
{
  margin-left: 10px;
  margin: 5px;
  padding: 0px;
}

.hebergement__card-text h2, .hebergement__card-text p
{
  font-size: 95%;
  width: 100%;
}

.stars 
{
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 0px;
}

.stars i
{
  margin-right: 9px;
  padding: 0px;
  width: 2px;
  height: 2px;
  font-size: 14px;
}

.fa-star
{
  color: #0065FC;
}

.fa-star.no-color
{
  color:#F2F2F2; 
  filter: brightness(90%);
}

.container-card a:hover
{
  transform: scale(1.1);
  box-shadow: 3px 3px 10px #e1e1e1,-3px -3px 10px #e1e1e1;
  border: 1px solid #0065FC;
}

.afficher-plus a
{
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 95%;
}

/*--------------------Aside 'Les plus populaire'---------------------*/


aside, .aside__titre-fav,.container-aside-card,.aside__card
{
  display: flex;
}

aside
{
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  width: 31%;
  height: 625px;
  border-radius: 20px;
  padding: 20px;
  margin: 0px;
}

.aside__titre-fav,.aside__card
{
  align-items: center;
  align-content: center;
}

.aside__titre-fav
{
 flex-wrap: nowrap;
 width: 100%;
 justify-content: space-between;
}

.aside__titre-fav i
{
  margin-right: 20px;
}


.container-aside-card
{
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  min-width: 144px;
  height: auto;
  padding: 0px;
  margin: 0px;
}

/*------------------------Aside cartes ---------------------------*/



.aside__card
{
  flex-direction: row;
  background-color: white;
  box-shadow: 3px 3px 10px #e1e1e1,-3px -3px 10px #e1e1e1;
  border: none;
  border-radius: 20px;
  width: 100%;
  min-width: 144px;
  height: 144px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 5px;
}

.aside__card img
{
  object-fit: cover;
  min-width: 132px;
  width: 38%;
  height:100%;
  border-radius: 20px 0px 0px 20px; 
  padding: 0px;
  
}

.aside__card-text
{
  width: 42%;
  height: 100%;
  text-align: left;
}

.aside__card-text h2, .aside__card-text p
{
  font-size: 95%;
  margin-bottom: 0px;
  margin-left: 20px;
  padding: 0px;
}
.aside__card h2
{
  margin-top: 8px;
  width: 90%;
}

.aside__card p

{
  width: 100%; 
  margin-top: 6px;
}

.aside__card .stars
{
  margin-top: 50px;
  margin-left: 20px;
}

.aside__card .stars i
{
  margin-right: 14px;
}

.aside__card:hover
{
  transform: scale(1.1);
  box-shadow: 3px 3px 10px #e1e1e1,-3px -3px 10px #e1e1e1;
  border: 1px solid #0065FC;
}

/*------------------------------Section Activitees a Marseille-----------------------*/

.activites-marseille,.card__box, .underbox_4responsive-1, .underbox_4responsive-2,.activites-marseille a div,.card__2-3,.card__5-6
{
  display: flex;
}

.underbox_4responsive-1, .underbox_4responsive-2, .activites-marseille a,.activites__card-1, .activites__card-4,.card__2-3,.card__5-6
{
  padding: 0px;
}

.activites-marseille
{
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 20px;
}

.card__box
{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;       
}



/*------------------------------------Cartes ----------------------------------------*/
.underbox_4responsive-1, .underbox_4responsive-2
{
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%; 
  height: 445px;
  margin-right: 20px;
  margin-left: 0px;
}

.underbox_4responsive-2
{
  margin-left: 20px;
  margin-right: 0px;
}

.activites-marseille a
{
  background-color: white;
  box-shadow: 3px 3px 10px #e1e1e1,-3px -3px 10px #e1e1e1;
  border-radius: 20px;
  border: none;
}

.activites__card-1, .activites__card-4
{
  box-shadow: 3px 3px 10px #e1e1e1,-3px -3px 10px #e1e1e1;
  border-radius: 20px;
  margin-right: 45px;
  width: 46%;
  height: 445px;
}

.activites-marseille a div
{
  position: relative;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  bottom: 59px;
  height: 56px;
  text-align: left;
}

.activites-marseille a h2
{
  font-size: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

.card__2-3,.card__5-6
{
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  width: 46%;
  height: 445px;
}

.activites-marseille img
{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
}

.activites__card-2, .activites__card-2 img
{ 
  height: 235px;
}

.activites__card-3, .activites__card-3 img
{
  height: 166px;
}

.activites__card-5, .activites__card-5 img
{
  height: 196px;
}

.activites__card-6,.activites__card-6 img
{
  height: 209px;
}

.activites-marseille a:hover
{
  transform: scale(1.1);
  box-shadow: 3px 3px 10px #e1e1e1,-3px -3px 10px #e1e1e1; 
}

/*---------------------------------------------Footer----------------------------------------------*/

.index-footer
{
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px;
  margin-top: 10px;
  width: 100%;
  height: 12%;
}

.index-footer h2,.index-footer a
{
  font-size: 100%;
}
.index-footer ul
{
  padding: 0px;
  margin: 0px;
}
.index-footer li
{
  list-style: none;
  margin: 15px;
  margin-left: 0px;
}

.footer__nav
{
  width: 302px;
  height: 185px;
  margin-right: 130px;
}

.index-footer a
{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  color: black;
}


/*---------------------------------Media Queries-----------------------------------*/



@media screen and  (max-width: 1400px) /*rajout d'un breakpoint*/
{
  .search-form1 .search
  {
    display: none;
  }

  .search-form1 .search-icon
  {
    display: flex;
  }

  .hebergement-marseille, aside, .activites-marseille,.underbox_4responsive-1, .underbox_4responsive-2
  {
    width: 100%;
    margin: 20px;
  }
  
  .hebergement-marseille
    {    
      order: 2;          
    }

    .hebergement-marseille, aside
    {
      padding: 50px;
      padding-top: 40px;
      height: auto;
    }  

  aside
  {
    order: 1; 
  }
 
  .activites-marseille
  {
    order: 3;
    flex-direction: column;
  }

  .card__box
  {
    flex-wrap: wrap;
  }

  .underbox_4responsive-1, .underbox_4responsive-2
  {
    width: 100%;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .index-footer
  {
    margin-top: 0px;
  }
  
}

@media screen and  (max-width: 992px)
{

  .hebergement-marseille, .container-card, .underbox
  {
    flex-direction: column;
    width: 100%;
    height: 100%;   
  }

  .container-card a
  {
    width: 100%;
    margin: 20px;
  }

  .aside__titre-fav,.container-aside-card
  {
    padding: 40px;
    padding-top: 0px;
  }

  .aside__titre-fav
  {
    padding-top: 10px;
  }

}

@media screen and  (max-width: 768px){

  #container
  {
    padding: 0px;
    margin: 0px;
  } 

  .index-header,.search-section,.hebergement-marseille,aside, .activites-marseille
  {
    justify-content: center;
    padding: 10px;
    margin: 0px;
  }
  .navigation__header
  {
    flex-direction: column;
  }

  .navigation__header img
  {
    width:100px;
    height: 48px;
    margin-left: 20px;
  }

  .navigation__header ul
  {
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: center;
      
  }
  
  .navigation__header li a
  {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
    margin-top: 20px;
  }

  .navigation__header li a:hover
  {
    border-bottom: 3px solid #0065FC;
    border-top: none;
  }

  .filtres__container
  {
    width: 100%;
  }

  .filtres__container p
  {
    margin: 0px;
    text-align: center;
  }

  .resultats-recherche-info i, p
  {
    align-self: baseline;
  }

  .resultats-recherche-info p
  {
    margin-top: 5px;
  }

  main
  {
    margin-top: 0px;
  }

  .hebergement-marseille, aside, .activites-marseille
  {
    background-color: white;
    padding: 20px;
  }

  aside
  {
    background-color: #F2F2F2;
    padding: 10px;
  }

  .hebergement-marseille, .container-card, .underbox
  {
    flex-direction: column;
    width: 100%;
    height: 100%;   
  }

  .container-card a
  {
    width: 100%;
    margin: 20px;
  }

  aside
  {
    border-radius: 0px;
  }

  .hebergement-marseille p, .aside__card h2, .aside__card p
  {
    font-size: 94%;
  }

  .aside__card h2
  {
    width: 100%;
  }

  .stars i
  {
    font-size: 12px ;
    margin-right: 7px;
  }

  .aside__card .stars
  {
    margin-top: 30px;
  }

  .aside__card .card-2
  {
    margin-top: 20px;
  }

  .activites-marseille, .underbox_4responsive-1, .underbox_4responsive-2
  {
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .card__2-3,.card__5-6,.activites-marseille a
  {
    width: 100%;
    margin: 0px;
  }
  
  .card__2-3,.card__5-6
  {
    margin-top: 40px;
  }

  .activites-marseille a, .activites-marseille img  
  {
    height: 200px;
  }

  .card__2-3,.card__5-6
  {
    margin-top: 40px;
    margin-bottom: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .index-footer
  {
    flex-direction: column;
    margin-top: 10px;
  }

  .footer__nav
  {
    margin: 10px;
    height: auto;
  }

  .index-footer li
  {
    margin-left: 0px;
  }

  .container-card a:hover,
  .aside__card:hover,
  .activites-marseille a:hover
  {
    transform: none;
    border: unset;
  } 
 
}

@media screen and  (max-width: 375px)
{

  .search-form1  input
  {
    width: 233px;
  }

  ::placeholder
  {
    font-size: 110%;
  }
  
  .search-form1 a, .search-form1 a i, .search-form1 .search-icon
  {
    border-radius: 15px 15px 15px 15px; 
  }

  .filtres__container, .filtres__container h2
  {
    width:100%;
  }

  .filtres__container p
  {
    font-size: 98%;
    margin-top: 4px;
  }

  main
  {
    margin-bottom: 0px;
  }

  .stars i
  {
    font-size: 12px ;
    margin-right: 7px;
  }

  aside
  {
    padding: 0px;
  }

  .aside__card h2
  {
    width: 100%;
  }

  .aside__card .card-1
  {
    margin-top: 35px;
  }

  .aside__card .card-3
  {
    margin-top: 38px;
  }
  
  .aside__card .stars i 
  {
    margin-right: 12px;
  } 

  .card__2-3,.card__5-6
  {
    margin-top: 40px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 7px;

  }

  .activites-marseille a, .activites-marseille img  
  {
    height: 190px;
  }

}